<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <!-- search.css  -->
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- logo  -->
                <div class="navbar-logo">
                    <a href="/"><img src="/image/logodesign.png" alt="logo web"></a>
                </div>
                <!-- navbar-linls  -->
                <ul class="navbar-links">
                    <li class="navbar-link"><a href="/view">Search</a></li>
                    <li class="navbar-link"><a href="/add">Add</a></li>

                </ul>
                <!-- menu buttons  -->
                <div class="navbar-icons">
                    <div class="navbar-icon"></div>
                </div>
            </nav>
        </div>
    </header>
    <section id="body">
        <div class="container">
            <!-- input text  -->
            <div class="body-inputs">
                <input type="text" class="body-input" placeholder="Searching Your Word">
                <div class="dropbox">
                    <li>abcxyz</li>
                    <li>abcxyz</li>
                    <li>abcxyz</li>
                    <li>abcxyz</li>
                    <li>abcxyz</li>
                    <li>abcxyz</li>
                </div><br>
                <!-- button search  -->
                <button class="search-button">Search</button>
            </div>
            
        </div>

    </section>
    <section id="body">
        <div class="cover">
            <div class="container1">
                <form>
                    <span class="text-center">Edit word</span>
                    <div class="input-container">
                        <input id="newWordInput" type="text" required=""/>
                        <label>word</label>
                    </div>
                    <div class="input-container">
                        <input id="pronunInput" type="text" required="" />
                        <label>pronunciation</label>
                    </div>
                    <div class ="word-type">
                        <label>word type</label><br>
                        <select id="wordTypeInput" class="wordTypeDetail">
                            <option></option>
                            <option>noun</option>
                            <option>adjective</option>
                            <option>adverb</option>
                            <option>verb</option>
                            <option>conjunction</option>
                            <option>pronoun</option>
                            <option>preposition</option>
                            <option>determiner</option>
                            <option>modal verb</option>
                        </select>
                            
                        
                    </div>
                    <div class="input-container">
                        <textarea id="vnMeanInput" name="VN-meaning" required=""></textarea>
                        <label>Vietnamese meaning</label>
                    </div>
                    <div class="input-container">
                        <textarea id="enMeanInput" name="EN-meaning" required=""></textarea>
                        <label>English meaning</label>
                    </div>

                    <div class="input-container">
                        <textarea id="exampleInput" name="Example" required=""></textarea>
                        <label>Example</label>
                    </div>
                    <div class="input-container">
                        <input id="synonymInput" type="text" required="" />
                        <label>Synonym</label>
                    </div>

                    <button type="button" class="btn">submit</button>
                </form>

            </div>
        </div>
    </section>

    

    <!-- icon  -->
    <script src="https://kit.fontawesome.com/650d0c074b.js" crossorigin="anonymous"></script>
    <!-- main.js  -->
    <script src="/js/edit.js"></script>
    <script src="/js/suggestions.js"></script>
</body>

</html>