<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <!-- main.css  -->
    <link rel="stylesheet" href="/css/main.css">
       <title>Dictionary</title>
</head>
<body>
    <!-- header  -->
    <header>
        <div class="container">
        <nav class="navbar">
            <!-- logo  -->
            <div class="navbar-logo">
              <img src="/image/logodesign.png" alt="logo web">
            </div>
            <!-- navbar-linls  -->
            <ul class="navbar-links">
                <li class="navbar-link"><a href="#banner">Translate</a></li>
                <li class="navbar-link"><a href="#about_project">About Project</a></li>
                <li class="navbar-link"><a href="#contact-us">Contact Us</a></li>

            </ul>
            <!-- menu buttons  -->
            <div class="navbar-icons">
                <div class="navbar-icon"></div>
            </div>
        </nav>
        </div>
    </header>
    <!-- banner  -->
    <section id="banner">
        <div class="container">
            <!-- img  -->
            <div class="banner-img">
                <img src="/image/banner-img.png" alt="banner for main web">
            </div>
            <!-- heading  -->
            <div class="banner-header">
                <h1>Online Translator</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sequi! Inventore iure veritatis rem consequatur repellendus, obcaecati repellat et ut perspiciatis, 
                    quos exercitationem in distinctio eum porro at? Enim ratione omnis delectus perspiciatis vitae natus cumque, nesciunt saepe cupiditate ex? </p>
                <a href="/view"><button class="banner-btn">Start Now</button></a>
                    
            </div>
        </div>
    </section>
    <section id="about_project">
        <div class="container">
            <!-- img -->
            <div class="about-img">
                <img src="/image/aboutpjbanner.jpg" alt="banner for about project section">
            </div>
            <!-- heading  -->
            <div class="about-project-header">
                <h1>About Project</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti reprehenderit velit sed distinctio 
                    qui consequuntur omnis nobis ducimus dolore vero, est expedita quibusdam explicabo molestiae?</p>    
            </div>
        </div>
    </section>
    <section id="contact-us">
        <div class="container">
            <!-- img  -->
        <div class="contact-us-img">
            <img src="/image/contact us banner.jpg" alt="banner for contact us section">
        </div>
        <div class="contact-us-header">
            <h1>Contact Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam perspiciatis minus dolores, tempore culpa neque vero placeat accusantium saepe? Veritatis, 
                ipsum in magni ea quis aspernatur commodi dolores incidunt odio nam accusantium placeat, repellendus impedit sapiente cumque, omnis maxime recusandae!</p>
            <a href="https://www.facebook.com/qtn.marco11" target="blank1">Truong Nguyen</a><br><br>
            <a href="https://www.facebook.com/thanh.phancong.3726#"target="blank2">Phan Cong Thanh</a><br><br>
            <a href="https://www.facebook.com/1.trungthanh"target="blank3">Dang Trung Thanh</a><br><br>
            <a href="https://www.facebook.com/profile.php?id=100007114305165"target="blank4">Nguyen Duc Thanh</a><br><br>
            <a href="https://www.facebook.com/khoa.hosyviet.7"target="blank5">Ho Sy Viet Khoa</a><br><br>
        </div>
        </div>
    </section>
    
  
    

    <!-- icon  -->
    <script src="https://kit.fontawesome.com/650d0c074b.js" crossorigin="anonymous"></script>
    <!-- main.js  -->
    <script src="/js/main.js"></script>
</body>
</html>